body {
    background-color: #395144;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .navbar {
    background: #395144;
    color: #F0EBCE;
    position: relative;
    border-bottom: 1px solid #F0EBCE;
  }
  
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
  }
  
  .nav-list i {
    font-size: 18px;
    padding-left: 20px;
    cursor: pointer;
  }
  
  .nav-list i:hover {
    color: #AA8B56;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list li a {
    font-size: 20px;
    color: #F0EBCE;
    text-decoration: none;
    position: relative;
    right: 75px;
  }
  
  .nav-list li a:hover {
    color: #AA8B56;
  }
  
  .sign {
    position: relative;
    width: 470px;
    height: 480px;
    margin: 70px auto;
    border: 1px solid #F0EBCE;
  }
  
  .subm {
    width: 25%;
    float: center;
    color: #F0EBCE;
    background-color: #AA8B56;
    margin-left: 170px;
  }
  
  .subm:hover {
    opacity: 0.8;
  }
  
  #Sign_title {
    margin-top: -7px;
    text-align: center;
    color: #F0EBCE;
  
  }
  
  form input {
    border-radius: 20px;
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #395144;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-left: 17px;
  }
  
  .born {
    color: #F0EBCE;
    margin-left: 25px;
  }
  
  .icon {
    position: relative;
    right: 8%;
    color: #AA8B56;
  }
  
  .but {
    position: relative;
  }
  
  footer {
    width: 100%;
    height: 300px;
    position: relative;
    top: 200px;
    background-color: #395144;
    border-top: 1px solid #F0EBCE;
  }
  
  .footertext {
    width: 100px;
    position: relative;
    left: 20%;
    top: 30px;
    color: #F0EBCE;
  }
  
  footer input {
    width: 25%;
    height: 50px;
    padding-left: 30px;
    position: relative;
    left: 50%;
    bottom: 180px;
    border-radius: 20px;
  }
  
  .send {
    width: 100px;
    height: 50px;
    color: #F0EBCE;
    background-color: #AA8B56;
    position: relative;
    left: 50%;
    bottom: 180px;
    border-radius: 20px;
  }
  
  .fa-brands {
    color: #F0EBCE;
    position: relative;
    left: 51%;
    bottom: 175px;
  }
  
  .nic {
    position: relative;
    right: 75px;
  }
  
  .footertextcon {
    width: 100px;
    position: relative;
    left: 30%;
    bottom: 108px;
    color: #F0EBCE;
  }
  
  .copyright {
    padding-top: 20px;
    height: 50px;
    width: 100%;
    background-color: #2c4136;
    color: #F0EBCE;
    text-align: center;
    font-size: 18px;
  }
  
  .webpages i {
    font-size: 35px;
    padding: 10px;
  }
  
  
  .fa-user:hover{
    color:#AA8B56 ;
  }
  
  @media only screen and (max-width: 1024px) {
    .creatstorydiv {
      width: 100%;
      left: 0;
    }
  
  }