html {
    height: 100%;
    width: 100%;
  }
  
  
  body {
    background-color: #395144;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .navbar {
    background: #395144;
    color: #F0EBCE;
    position: relative;
    border-bottom: 1px solid #F0EBCE;
  }
  
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
  }

  .opspart2{
  
      position: relative;
      top: 420px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      height: 500px;
  }

  .comtitle{
    color: #AA8B56;
    text-align: center;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
  }
  
  .nav-list i {
    font-size: 18px;
    padding-left: 20px;
    cursor: pointer;
  }
  
  .nav-list i:hover {
    color: #AA8B56;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list li a {
    font-size: 20px;
    color: #F0EBCE;
    text-decoration: none;
    position: relative;
    right: 75px;
  }
  
  .nav-list li a:hover {
    color: #AA8B56;
  }
  
  .sign {
    position: relative;
    width: 470px;
    height: 480px;
    margin: 70px auto;
    border: 1px solid #F0EBCE;
  }
  
  .subm {
    width: 25%;
    float: center;
    color: #F0EBCE;
    background-color: #AA8B56;
    margin-left: 170px;
  }
  
  .subm:hover {
    opacity: 0.8;
  }
  
  #Sign_title {
    margin-top: -7px;
    text-align: center;
    color: #F0EBCE;
  
  }
  
  form input {
    border-radius: 20px;
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #395144;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-left: 17px;
  }
  
  .born {
    color: #F0EBCE;
    margin-left: 25px;
  }
  
  .icon {
    position: relative;
    right: 8%;
    color: #AA8B56;
  }
  
  .but {
    position: relative;
  }
  
  footer {
    width: 100%;
    height: 300px;
    position: relative;
    top: 620px;
    background-color: #395144;
    border-top: 1px solid #F0EBCE;
  }
  
  .footertext {
    width: 100px;
    position: relative;
    left: 20%;
    top: 30px;
    color: #F0EBCE;
  }
  
  footer input {
    width: 25%;
    height: 50px;
    padding-left: 30px;
    position: relative;
    left: 50%;
    bottom: 180px;
    border-radius: 20px;
  }
  
  .send {
    width: 100px;
    height: 50px;
    color: #F0EBCE;
    background-color: #AA8B56;
    position: relative;
    left: 50%;
    bottom: 180px;
    border-radius: 20px;
  }
  
  .fa-brands {
    color: #F0EBCE;
    position: relative;
    left: 51%;
    bottom: 175px;
  }
  
  .nic {
    position: relative;
    right: 75px;
    color: #F0EBCE;
  }
  
  .comimg {
    margin-left: 180px;
    margin-top: 50px;
  }
  
  .footertextcon {
    width: 100px;
    position: relative;
    left: 30%;
    bottom: 108px;
    color: #F0EBCE;
  }
  
  .op2 {
    background-color: #F0EBCE;
  }
  
  .copyright {
    padding-top: 20px;
    height: 50px;
    width: 100%;
    background-color: #2c4136;
    color: #F0EBCE;
    text-align: center;
    font-size: 18px;
  }
  
  .webpages i {
    font-size: 35px;
    padding: 10px;
  }
  
  
  .fa-user:hover {
    color: #AA8B56;
  }
  
  @media only screen and (max-width: 1024px) {
    .creatstorydiv {
      width: 100%;
      left: 0;
    }
  
  }
  
  .fa-users {
    display: block;
    position: relative;
    left: 50%;
    top: 35px;
    font-size: 80px;
    color: #AA8B56;
  }
  
  .bigcomdiv {
    margin: 0 auto;
    overflow-y: scroll;
    width: 50%;
    height: 400px;
    background-color: #F0EBCE;
    position: relative;
    top: 95px;
  }
  
  .opinion {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 400px;
    background-color: #AA8B56;
  }
  
  .oppic {
    width: 220px;
    height: 200px;
    border-radius: 50%;
  }
  
  .man {
    display: none;
  }
  
  .textop {
    position: relative;
    left: 40%;
    color: #F0EBCE;
    font-size: 20px;
    top: 10px;
  }
  
  .opinion {
    background-color: #AA8B56;
  }
  
  .woman {
    position: relative;
    left: 40%;
    top: 20px;
  }
  
  .chatdiv {
    width: 25%;
    height: 54px;
    overflow-y: auto;
  
    background-color: #395144;
    position: relative;
    left: 94px;
    top: 50px;
    border-radius: 20px;
    display: none;
  }
  
  .inputtext {
    width: 70%;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 6%;
    border: 2px solid #AA8B56;
    border-radius: 20px;
  }
  
  
  #messageButton {
    position: absolute;
    width: 12%;
    height: 40px;
    top: 5px;
    border-radius: 20px;
    background-color: #2c4136;
    color: #F0EBCE;
    left: 80%;
  }
  
  .bigcomdiv::-webkit-scrollbar {
    width: 12px;
  }
  
  .bigcomdiv::-webkit-scrollbar-track {
    background-color: #AA8B56
  }
  
  .bigcomdiv::-webkit-scrollbar-thumb {
    background-color: #AA8B56;
    border-radius: 20px;
    border: 3px solid #382e1d;
  }
  
  
  .chatdiv {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .inpbut {
    width: 50%;
    height: 80px;
    background-color: #F0EBCE;
    position: relative;
    top: 95px;
    left: 25%;
  }
  
  .optext {
    font-size: 18px;
    text-align: center;
  }
  
  .message-container {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  .right {
    float: right;
    width: 60%;
    height: 50px;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background-color: #2c4136;
  }
  
  .left {
    float: left;
    width: 60%;
    height: 50px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    align-self: flex-start;
  }
  
  .typing-indicator span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 1px;
    background-color: #000;
    border-radius: 50%;
    animation: typing 1s infinite;
  }
  
  @keyframes typing {
    0% {
      transform: scale(0.6);
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0.6);
    }
  }
  
  .typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .prev{
position: relative;
left:3%;
  }
  .next{
    position: relative;
    left: 95%;
  }

  .ops {
    position: relative;
    top: 250px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 500px;
  display: none;
  }
  .op22{
    background-color: #F0EBCE;
  }
  
  .op {
    position: relative;
    top: 50px;
    width: 30%;
    height: 500px;
  
  }
  
  .op1 .op3 {
    background-color: #AA8B56;
  }
  
  
  .comimg {
    border-radius: 50%;
  }